<form class="flex flex-col md:flex-row gap-4 justify-center items-center p-4">
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Max. price:</span>
    </label>
    <div class="flex gap-2 items-center">
      <input
        class="range range-xs"
        type="range"
        min="0"
        max="1800"
        [value]="filters().maxPrice"
        (change)="onInputRangeChange($event)"
      />
      <span class="text-sm">{{ filters().maxPrice | currency }}</span>
    </div>
  </div>

  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Category:</span>
    </label>
    <select
      class="select select-bordered select-sm capitalize"
      (change)="onSelectChange($event)"
    >
      <option
        class="capitalize"
        *ngFor="let category of categories()"
        [selected]="category === filters().category"
      >
        {{ category }}
      </option>
    </select>
  </div>
</form>
